.correto {
    background-color: lightskyblue !important;
}

.valido {
    background-color: lightgreen !important;
}

.errado {
    background-color: lightsalmon !important;
}

.table {
    table-layout: fixed;
    font-size: 90%;
}